/* set the background color */
body {
   background-color:#FFFFF7;
}
/* reduce the space between both headings and add padding */
h1 {
   margin: 0px;
   padding-left: 20px;
   padding-top: 20px;
}
/* give the image some space from the margins */
img {
   padding-left: 25px;
   padding-top: 80px;
}
/* customize table 1 to align with the image */
table {
   border-collapse: collapse;
   margin-left: 700px;
   margin-top: 70px;
}
/* add padding, spacing between lines, change font and color of texts
in the table */
th, td {
   padding: 15px;
   text-align: left;
   border-bottom: 1px solid #4da6ff;
   font-family: Helvetica;
   color: #00264d;
   line-height: 2em;
}
/* allows the image and table to appear side by side insead of the image
appearing on top of the table */
#img1 , table {
   position:absolute;
}
/* fix the position of the second table */
.table2 {
   border-collapse: collapse;
   margin-left: -680px;
   margin-top: 400px;
}
/* fix the position of the second image */
#img2 {
  padding-left: 800px;
  padding-top: 85px;
}
/* fix the position of the third image */
#img3 {
  padding-top: 95px;
  padding-bottom: 25px;
}

/* fix the position of the third table so it appears next to image 3 */
.table3 {
  border-collapse: collapse;
  margin-top: -410px;
}
